body{
	background: #000;
}

.a{
	text-decoration:none; 
}

.banner{
	color: #C0C0C0;
}

.imagem{
	position: relative;
}

.descricao{
	font-size: 11px !important;
}

.corP{
	background: #FFF;
	padding: 50px;
	width: 400px;
	margin-left: 17px;
	margin-top: -17px;
	text-align: justify;
}

.clearfix{
	position:relative;
	margin-top: 30px;
	left:40%;
	margin-left:-50px;
}

.clearfix a img{
	margin: 17px; 
	margin-top: 20px;
}

footer .appConcrete a{
	padding-top: 100px;
	color: #FFF;	
}

@media screen and (max-width: 480px) {
	.clearfix{
		position:relative;
		top:100%;
		left:13% !important;
		margin-top:30px;
		margin-left:-50px;
	}

	.clearfix a img{
		margin: 17px; 
		margin-top: 20px !important;
	}
}


