body{
	background: #000;
}

.tituloPage {
	text-align: center;
}

.a{
	text-decoration:none; 
}

.banner{
	color: #C0C0C0;
}

.imagem{
	position: relative;
}

.descricao{
	font-size: 11px !important;
}

.btn{
	background: #FFF;
	width: 50px;
	height: 50px;
	margin-left: 17px;
	border-radius: 0px !important; 
}

.btn .glyphicon{
	color: #000;
	font-size: 20px;
	margin-top: 5px;
}

.corP{
	background: #FFF;
	padding: 50px;
	width: 400px;
	margin-left: 17px;
	margin-top: -17px;
}

.criador .nome{
	margin-left: 120px;
	margin-top: -70px;
	padding-bottom: 50px;
}
.avatar{
	border-radius:50px;
	width: 100px;
	height: 100px;
	margin-left: 0px !important;
}

.clearfix{
	margin-top: 20px;
    margin-left:-200px;
    width: 400px;
    left:50%;
    position: relative;
}        

.clearfix a img{
	margin: 17px; 
	margin-top: 20px;
}

footer .appConcrete {
	margin-top: 20px;
	margin-left: 20px;
	text-align: center;
}

footer .appConcrete a{
	margin-top: 30px;
	padding-top: 100px;
	color: #FFF;	
}
 
/* tables em formato porta retrato até os desktos no formato paisagem */
@media (min-width: 768px) and (max-width: 979px) { 
	.tituloPage{
		text-align: center;
	}

	.clearfix{
		margin-top:20px;
		margin-left:244px !important;
	}
		
	.tituloPage {
		margin-top: 30px;
	}

	.criador .nome{
		margin-left: 120px;
		margin-top: -70px;
		padding-bottom: 50px;
	}

	.avatar{
		border-radius:50px;
		width: 100px;
		height: 100px;
		margin-left: 0px !important;
	}


	.clearfix a img{
		margin: 17px; 
		margin-top: 20px !important;
	}

	footer .appConcrete {
		margin-top: 20px;
		text-align: center;	
	}
}
 
/* dispositivo em paisagem até os tablets em formato porta-retrato */
@media (max-width: 767px) { 
	.tituloPage{
		text-align: center;
	}

	.clearfix{
		margin-top: 20px;
	    margin-left:-200px;
	    width: 400px;
	    left:50%;
	    position: relative;
	}
		
	.tituloPage {
		margin-top: 30px;
	}

	.criador .nome{
		margin-left: 120px;
		margin-top: -70px;
		padding-bottom: 50px;
	}

	.avatar{
		border-radius:50px;
		width: 100px;
		height: 100px;
		margin-left: 0px !important;
	}

	.clearfix a img{
		margin: 17px; 
		margin-top: 20px !important;
	}

	footer .appConcrete {
		margin-top: 20px;
		text-align: center;	
	}
}


/* dispositivo no formato paisagem e abaixos */
@media (max-width: 480px) { 
	.tituloPage{
		text-align: center;
	}

	.clearfix{
		margin-top: 20px;
	    margin-left:-135px;
	    width: 240px;
	    left:50%;
	    position: relative;
		}

	.imagem{
		width: 240px;
	}

	.criador .nome{
 		margin-left: 0px;
		text-align: center;
		margin-top: 0px;
		padding-bottom: 50px;
	}

	.avatar{
		border-radius:50px;
		width: 100px;
		height: 100px;
		margin-left: 22px !important;
	}

	.corP {
    	background: #FFF;
    	padding: 50px;
    	width: 240px;
    	margin-left: 17px;
    	margin-top: -17px;
	}

	.tituloPage {
		margin-top: 30px;
	}

	.clearfix a img{
		margin: 17px; 
		margin-top: 20px !important;
	}

	footer .appConcrete {
		margin-top: 20px;
		text-align: center;	
	}
}

