body{
	background: #000;
}

.tituloPage {
	margin-top: 30px;
	text-align: center;
}

.collapse-group{
	display:none;
}

.dados .glyphicon-plus{
	font-size:30px !important;
	background: #FFF;
	padding: 10px;
    color: #000;
}

.dados{
	color: #000;
	font-size: 15px;
	background: #FFF;
	width: 400px;
	height: 50px;
	margin-top: -17px;
    margin-left: 17px;
    padding-top: 13px;
    padding: 18px;
}

.detalhes:hover { 
    color: red;
   	text-decoration:none; 
}

.iconsDados{
	float: right;
	margin-right: 10px;
}

.iconsDados:hover{
	color: red;
}

.dados .glyphicon{
	padding-left: 5px; 
	margin-top: -40px;
	font-size: 15px;
	margin-left: 10px;
}

.iconStatus{
	padding-left: 10px;
	margin-top: -2px;
	float: right;
}

.detalhes{
	text-decoration:none; 
	color: #000;
	padding-left: 0px;
}

.detalheTexto{
	padding-left: 10px;
}

.banner{
	color: #C0C0C0;
}

.imagem{
	position: relative;
}

.descricao{
	font-size: 11px !important;
}

.btn{
	background: #FFF;
	width: 50px;
	height: 50px;
	margin-left: 17px;
	border-radius: 0px !important; 
}

.btn .glyphicon{
	color: #000;
	font-size: 20px;
	margin-top: 5px;
}

.corP{
	background: #FFF;
	padding: 50px;
	width: 400px;
	margin-left: 17px;
	margin-top: -17px;
}

.criador .nome{
	margin-left: 120px;
	margin-top: -70px;
	padding-bottom: 50px;
}
.avatar{
	border-radius:50px;
	width: 100px;
	height: 100px;
	margin-left: 0px !important;
}

.clearfix{
	margin-top: 20px;
    margin-left:-200px;
    width: 400px;
    left:50%;
    position: relative;
}        

.clearfix a img{
	margin: 17px; 
	margin-top: 20px;
}

#click{
	font-size:30px;
	width:50px;
	height:50px;
	background: #FFF;
	padding: 9px;
    margin-top: 18px;
    margin-left: 17px;
    color: #000;
    cursor:pointer;
}

footer .appConcrete {
	margin-top: 20px;
	margin-left: 20px;
	text-align: center;
}

footer .appConcrete a{
	margin-top: 30px;
	padding-top: 100px;
	color: #FFF;	
}
 
/* tables em formato porta retrato até os desktos no formato paisagem */
@media (min-width: 768px) and (max-width: 979px) { 
	.tituloPage{
		margin-top: 30px;
		text-align: center;
	}

	.clearfix{
		margin-top:20px;
		margin-left:-85px !important;
	}
		
	.tituloPage {
		margin-top: 30px;
	}

	.criador .nome{
		margin-left: 120px;
		margin-top: -70px;
		padding-bottom: 50px;
	}

	.avatar{
		border-radius:50px;
		width: 100px;
		height: 100px;
		margin-left: 0px !important;
	}

	.clearfix a img{
		margin: 17px; 
		margin-top: 20px !important;
	}

	#click{
		font-size:30px;
		width:50px;
		height:50px;
		background: #FFF;
		padding: 9px;
	    margin-top: 18px;
	    margin-left: 17px;
	    color: #000;
	    cursor:pointer;
	}


	footer .appConcrete {
		margin-top: 20px;
		text-align: center;	
	}
}


/* dispositivo em paisagem até os tablets em formato porta-retrato */
@media (max-width: 767px) { 
	.tituloPage{
		margin-top: 30px;
		text-align: center;
	}

	.clearfix{
		margin-top: 20px;
	    margin-left:-200px;
	    width: 400px;
	    left:50%;
	    position: relative;
	}
		
	.tituloPage {
		margin-top: 30px;
	}

	.criador .nome{
		margin-left: 120px;
		margin-top: -70px;
		padding-bottom: 50px;
	}

	.avatar{
		border-radius:50px;
		width: 100px;
		height: 100px;
		margin-left: 0px !important;
	}

	.clearfix a img{
		margin: 17px; 
		margin-top: 20px !important;
	}

	#click{
		font-size:30px;
		width:50px;
		height:50px;
		background: #FFF;
		padding: 9px;
	    margin-top: 18px;
	    margin-left: 17px;
	    color: #000;
	    cursor:pointer;
	}

	footer .appConcrete {
		margin-top: 20px;
		text-align: center;	
	}
}


/* dispositivo no formato paisagem e abaixos */
@media (max-width: 480px) { 
	.tituloPage{
		text-align: center;
	}

	.clearfix{
		margin-top: 20px;
	    margin-left:-135px;
	    width: 240px;
	    left:50%;
	    position: relative;
		}

	.imagem{
		width: 240px;
	}

	.criador .nome{
 		margin-left: 0px;
		text-align: center;
		margin-top: 0px;
		padding-bottom: 50px;
	}

	.avatar{
		border-radius:50px;
		width: 100px;
		height: 100px;
		margin-left: 22px !important;
	}

	.dados{
		color: #000;
		font-size: 10px;
		background: #FFF;
		width: 240px;
		height: 50px;
		margin-top: -17px;
	    margin-left: 17px;
	    padding-top: 13px;
	    padding: 18px;
	}

	.iconsDados{
		float: right;
		margin-right: 10px;
	}

	.dados .glyphicon{
		padding-left: 0px; 
		margin-top: -40px;
		font-size: 10px;
		margin-left: 0px !important;
	}

	.iconStatus{
		padding-left: 5px;
		margin-top: -2px;
		float: right;
	}

	.detalhes{
		text-decoration:none; 
		color: #000;
		padding-left: 5px;
	}

	.corP {
    	background: #FFF;
    	padding: 50px;
    	width: 240px;
    	margin-left: 17px;
    	margin-top: -17px;
	}

	.tituloPage {
		margin-top: 30px;
	}

	.clearfix a img{
		margin: 17px; 
		margin-top: 20px !important;
	}

	footer .appConcrete {
		margin-top: 20px;
		text-align: center;	
	}
}

